<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704265140215-dndm6vloqenios0iid4i7vpsote280uc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704265140215-dndm6vloqenios0iid4i7vpsote280uc</string>
	<key>API_KEY</key>
	<string>AIzaSyBD1MoM7HXoqxef7Ip6l95CLDnhObDEGTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>704265140215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fuzaApp</string>
	<key>PROJECT_ID</key>
	<string>fuza-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fuza-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704265140215:ios:2f96a5800f731542b260f2</string>
</dict>
</plist>